<!-- Job Application Form Section -->
<div class="container mt-5">
  <div class="card mx-auto my-5 shadow-lg" style="max-width: 600px;">
    <div class="card-header bg-primary text-white text-center">
      <h1>{{__ "addJobApplicationTitle"}}</h1>
    </div>
    <div class="card-body">
      {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
      {{/if}}
      {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
      {{/if}}
      <form action="/jobApplications/add" method="POST">
        <div class="form-group">
          <label for="company">{{__ "company"}}</label>
          <input
            type="text"
            class="form-control"
            id="company"
            name="company"
            required
          />
        </div>
        <div class="form-group">
          <label for="jobTitle">{{__ "jobTitle"}}</label>
          <input
            type="text"
            class="form-control"
            id="jobTitle"
            name="jobTitle"
            required
          />
        </div>
        <div class="form-group">
          <label for="applicationDate">{{__ "applicationDate"}}</label>
          <input
            type="date"
            class="form-control"
            id="applicationDate"
            name="applicationDate"
            required
          />
        </div>
        <div class="form-group">
          <label for="status">{{__ "status"}}</label>
          <select class="form-control" id="status" name="status" required>
            <option value="applied">{{__ "applied"}}</option>
            <option value="interviewed">{{__ "interviewed"}}</option>
            <option value="offered">{{__ "offered"}}</option>
            <option value="rejected">{{__ "rejected"}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="followUpDate">{{__ "followUpDate"}}</label>
          <input
            type="date"
            class="form-control"
            id="followUpDate"
            name="followUpDate"
          />
        </div>
        <div class="form-group">
          <label for="location">{{__ "location"}}</label>
          <input
            type="text"
            class="form-control"
            id="location"
            name="location"
            list="locationSuggestions"
            required
          />
          <datalist id="locationSuggestions"></datalist>
        </div>
        <button type="submit" class="btn btn-light btn-lg btn-block">{{__
            "addApplication"
          }}</button>
      </form>
    </div>
  </div>
</div>