<div class="row justify-content-center">
  <div class="col-md-6">
    <h1 class="text-center">{{__ "login"}}</h1>
    {{#if error}}
      <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    {{#if error_msg}}
      <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}
    <form action="/users/login" method="POST">
      <div class="form-group">
        <label for="email">{{__ "email"}}</label>:
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">{{__ "password"}}</label>:
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block">{{__
          "login"
        }}</button>
      <a href="/auth/github" class="btn btn-dark bg-dark btn-block">
        <i class="fab fa-github"></i>
        {{__ "loginWithGitHub"}}
      </a>
    </form>
    <div class="text-center mt-3">
      <p><a href="/users/register">{{__ "register"}}</a></p>
      <p><a href="/users/forgot">{{__ "forgotPassword"}}</a></p>
    </div>
  </div>
</div>